@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body,
html {
  height: calc(100vh);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root::-webkit-scrollbar {
  display: none;
}

.app-shell {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: calc(100vh);
}

.popup-content {
  border-radius: 4px;
  height: 60px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
